[submodule "sharpy-sc2"]
	path = sharpy-sc2
	url = https://github.com/lladdy/sharpy-sc2.git
[submodule "queens-sc2"]
	path = queens-sc2
	url = https://github.com/lladdy/queens-sc2.git
[submodule "SC2MapAnalysis"]
	path = SC2MapAnalysis
	url = https://github.com/lladdy/SC2MapAnalysis.git
[submodule "bossman-sc2"]
	path = bossman-sc2
	url = https://github.com/lladdy/bossman.git
