.idea/

venv

# Reference: https://github.com/github/gitignore/blob/master/Python.gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
!/sc2pathlibp/*.pyd
*$py.class

version.txt
publish/
